


<div class="main">
    <div class="interactive-nav">
        <div class='interactive-nav__inner'>
            Jump to
            {{#groups}}
                <a href="#group-{{groupRef}}" data-jump-to='{{groupRef}}'>{{sortOn}}</a>
            {{/groups}}
        </div>
    </div>

    {{#groups}}
    <div class='policy-group' id="group-{{groupRef}}" data-scroll>
        <div class="policy-group__header">
            <div class='policy-group__header__text'>
                <h2 class='policy-group__header__text__title'>{{sortOn}}</h2>
               <!--  <p class='policy-group__header__text__description'>{{intro}}</p> -->
            </div>
        </div>
        {{>cardstack}}
        <div class='pagination'></div>
    </div>

   

    {{/groups}}

    
</div>