@import "mq";
@import "fonts";

// Uncomment for embeds
@import "embed";

// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

.element-atom,
.interactive-atom {
    margin: 0 !important;
}
.mapboxgl-ctrl-bottom-left {
    visibility:hidden;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}